<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !oldPassword.valid }">
        <label class="col-sm-2 col-form-label" for="oldPassword" i18n>Current password</label>
        <div class="col-sm-5">
            <input class="form-control" type="password" required="required" id="oldPassword" name="oldPassword" [(ngModel)]="model.oldPassword"
                #oldPassword="ngModel" />
            <div *ngIf="f.submitted && !oldPassword.valid" class="form-control-feedback" i18n>This field is required</div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !newPassword.valid }">
        <label class="col-sm-2 col-form-label" for="newPassword" i18n>New password</label>
        <div class="col-sm-5">
            <input class="form-control" type="password" required="required" id="newPassword" name="newPassword" [(ngModel)]="model.newPassword"
                #newPassword="ngModel" />
            <div *ngIf="f.submitted && !newPassword.valid" class="form-control-feedback" i18n>This field is required</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !confirmPassword.valid }">
        <label class="col-sm-2 col-form-label" for="confirmPassword" i18n>Confirm new password</label>
        <div class="col-sm-5">
            <input class="form-control" type="password" required="required" id="confirmPassword" name="confirmPassword" [(ngModel)]="model.confirmPassword"
                #confirmPassword="ngModel" />
            <div *ngIf="f.submitted && !confirmPassword.valid" class="form-control-feedback" i18n>This field is required</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" type="submit" class="btn btn-success" autocomplete="off">
            <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
            <ng-container i18n>Change Password</ng-container>
        </button>
        <button (click)="cancel()" type="button" class="btn btn-secondary" autocomplete="off">
            <ng-container i18n>Cancel</ng-container>
        </button>
    </div>
</form>